<div class="myDiv bg-primary"></div>
<hr>
<div class="container">
  <div class="myDiv bg-primary">/div>
  </div>

  <hr>

  <div class="container-fluid">
    <div class="myDiv bg-primary"></div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="myRow col bg-success"></div>
      <div class="myRow col bg-warning"></div>
      <div class="myRow col bg-danger"></div>
    </div>

    <div class="row">
      <div class="myRow col bg-primary"></div>
      <div class="myRow col bg-info"></div>
    </div>

  </div>

  <!-- <div class="myDiv bg-primary">Hello Boostrap</div>
<div class="myDiv bg-secondary">Hello Boostrap</div>
<div class="myDiv bg-success">Hello Boostrap</div>
<div class="myDiv bg-danger">Hello Boostrap</div>
<div class="myDiv bg-warning">Hello Boostrap</div>
<hr>
<div class="myDiv bg-info">Hello Boostrap</div>
<div class="myDiv bg-light text-dark">Hello Boostrap</div>
<div class="myDiv bg-dark">Hello Boostrap</div>
<div class="myDiv bg-white text-dark">Hello Boostrap</div>
<div class="myDiv bg-transparent text-dark">Hello Boostrap</div> -->
